*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
}
.heading h1{
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 20px;
}
.quote{
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 20px;
}   

img{
    height: 450px;
    width: 100%;
}
.heading h2{
    font-size: 20px;
    font-family:  sans-serif;
    font-weight: lighter;
    text-align: center;
    padding-top: 10px;
}
.timeline{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    padding-bottom:20px;
    padding-top: 20px;
}
ul{
    list-style-type: disc;
    padding-left: 200px;
    padding-right: 200px;
    
}
footer{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 25px;
}
.link{
    padding-left: 200px;
    padding-top: 35px;
    font-weight: bolder;
    font-size: 15px;

}

